body{
    background-image: url("../resources/main.jpg");
    background-size: 100%;
}
.table1{
    margin: 0% 25%;
    border-collapse: collapse;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
}
.table2{
    margin: 0% 25%;
    border-collapse: collapse;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
}
.Top1{
    font-style: italic;
}
.Top2{
    font-style: italic;
    font-size: 28px;
}

.s1 {
    color: #FFD201;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}
.s1:hover {
    border-bottom: 1px solid #FFD201;
    border-top: 1px solid #FFD201;
}
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;
    font-size: 14px;
    font-family: 'Fredoka One', cursive;
    transition: .3s ease-in-out;
}

button {
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
}
button:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}