<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>lab12</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Sss</servlet-name>
        <servlet-class>Sss</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Ggg</servlet-name>
        <servlet-class>Ggg</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Sss</servlet-name>
        <url-pattern>/Sss</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Ggg</servlet-name>
        <url-pattern>/Ggg</url-pattern>
    </servlet-mapping>
</web-app>