<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Lab15</display-name>

    <servlet>
        <servlet-name>ServletUrl</servlet-name>
        <servlet-class>ServletUrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUrl</servlet-name>
        <url-pattern>/ServletUrl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Ccc</servlet-name>
        <servlet-class>Ccc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ccc</servlet-name>
        <url-pattern>/Ccc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Ccc1</servlet-name>
        <servlet-class>Ccc1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ccc1</servlet-name>
        <url-pattern>/Ccc1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Ccc2</servlet-name>
        <servlet-class>Ccc2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ccc2</servlet-name>
        <url-pattern>/Ccc2</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>URL1</param-name>
        <param-value>http://localhost:8080/Lab16/index.html</param-value>
    </context-param>

    <context-param>
        <param-name>URL2</param-name>
        <param-value>http://localhost:8080/Lab16/Sss</param-value>
    </context-param>

</web-app>

